<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.blog.website.dao.MediaVoMapper">
  <resultMap id="MediaVoMap" type="com.my.blog.website.modal.Vo.MediaVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contentId" jdbcType="INTEGER" property="contentId"/>
    <result column="mediaUrl" jdbcType="VARCHAR" property="mediaUrl"/>
    <result column="mediaType" jdbcType="VARCHAR" property="mediaType"/>
    <result column="created_date" jdbcType="TIMESTAMP" property="created_date"/>
    <result column="create_by" jdbcType="INTEGER" property="create_by"/>
  </resultMap>
  <select id="getMedia" parameterType="java.lang.Integer" resultType="com.my.blog.website.modal.Vo.MediaVo">
    select 
    *
    from t_media
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteMedia" parameterType="java.lang.Integer">
    delete from t_media
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertMedia" parameterType="com.my.blog.website.modal.Vo.MediaVo" useGeneratedKeys="true" keyProperty="id">
    insert into t_media (id, contentId, mediaUrl,
      mediaType, created_date, create_by
      )
    values (#{id,jdbcType=INTEGER}, #{contentId,jdbcType=INTEGER}, #{mediaUrl,jdbcType=VARCHAR},
      #{mediaType,jdbcType=VARCHAR}, #{created_date,jdbcType=TIMESTAMP}, #{create_by,jdbcType=INTEGER}
      )
  </insert>
  <select id="count" parameterType="java.lang.Integer" resultType="Integer">
    select count(*) from t_media where contentId = #{id,jdbcType=INTEGER}
  </select>
  <select id="getMediaList" parameterType="java.lang.Integer" resultType="com.my.blog.website.modal.Vo.MediaVo">
    select
    *
    from t_media
    where contentId = #{id,jdbcType=INTEGER}
  </select>
</mapper>